<!doctype html>
<html lann="en">
    <head>
        <title>Image Search Abstraction Layer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <% if (locals.error) { %>
                <h2 style="color: red;"><%= error %></h2>
            <% } %>
            <h1 class="header">
                FreeCodeCamp API Basejump: Image Search Abstraction Layer
            </h1>
            <p>By Kashif Jamal Soofi | <a href="https://github.com/kashifsoofi/fcc-image-search-service">GitHub Project</a> | <a href="swagger">Swagger</a></p>
            <blockquote>
                User stories:
                <ol>
                    <li> can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li>
                    <li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li>
                    <li>I can get a list of the most recently submitted search strings.</li>
                </ol>
            </blockquote>
            <h3>Usage:</h3>
            <h4>Creation</h4>
            <code><%= appUrl %>new/https://www.google.com</code><br/>
            <code><%= appUrl %>new/http://www.example.com</code><br/>
            <code><%= appUrl %>new/http://invalid</code><br/>
            <h4>Output</h4>
            <code>
                {
                    "original_url": "https://www.google.com",
                    "short_url": "<%= appUrl %>2875"
                }
                <br/>
                {
                    "original_url": "http://www.example.com",
                    "short_url": "<%= appUrl %>2876"
                }
                <br/>
                {
                    "error": "Invalid URL, please make sure you have a valid protocol, sitename and domain."
                }
            </code>
            
            <h4>Consumption</h4>
            <code><%= appUrl %>2875</code><br/>
            <h4>Will redirect to</h4>
            <code>https://www.google.com</code>
        </div>
    </body>
</html>